@font-face {
  font-family: "Socialicious";
  src: url("../font/socialicious.eot");
  src: url("../font/socialicious.eot?#iefix") format("embedded-opentype"), url("../font/socialicious.ttf") format("truetype"), url("../font/socialicious.svg#socialicious") format("svg"), url("../font/socialicious.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../../scss/scss/_fonts.scss */
[data-icon]:before {
  font-family: "Socialicious";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 22, ../../scss/scss/_fonts.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "Socialicious";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 32, ../../scss/scss/_fonts.scss */
.icon-bebo:before {
  content: "a";
}

/* line 36, ../../scss/scss/_fonts.scss */
.icon-bebo-sign:before {
  content: "b";
}

/* line 40, ../../scss/scss/_fonts.scss */
.icon-bread:before {
  content: "c";
}

/* line 44, ../../scss/scss/_fonts.scss */
.icon-bread-sign:before {
  content: "d";
}

/* line 48, ../../scss/scss/_fonts.scss */
.icon-dribbble:before {
  content: "e";
}

/* line 52, ../../scss/scss/_fonts.scss */
.icon-dribbble-sign:before {
  content: "f";
}

/* line 56, ../../scss/scss/_fonts.scss */
.icon-facebook:before {
  content: "g";
}

/* line 60, ../../scss/scss/_fonts.scss */
.icon-facebook-sign:before {
  content: "h";
}

/* line 64, ../../scss/scss/_fonts.scss */
.icon-flickr:before {
  content: "i";
}

/* line 68, ../../scss/scss/_fonts.scss */
.icon-flickr-sign:before {
  content: "j";
}

/* line 72, ../../scss/scss/_fonts.scss */
.icon-foursquare:before {
  content: "k";
}

/* line 76, ../../scss/scss/_fonts.scss */
.icon-foursquare-sign:before {
  content: "l";
}

/* line 80, ../../scss/scss/_fonts.scss */
.icon-linkedin-sign:before {
  content: "p";
}

/* line 84, ../../scss/scss/_fonts.scss */
.icon-linkedin:before {
  content: "q";
}

/* line 88, ../../scss/scss/_fonts.scss */
.icon-lastfm-sign:before {
  content: "r";
}

/* line 92, ../../scss/scss/_fonts.scss */
.icon-lastfm:before {
  content: "s";
}

/* line 96, ../../scss/scss/_fonts.scss */
.icon-klout-sign:before {
  content: "t";
}

/* line 100, ../../scss/scss/_fonts.scss */
.icon-klout:before {
  content: "u";
}

/* line 104, ../../scss/scss/_fonts.scss */
.icon-instagram-sign:before {
  content: "v";
}

/* line 108, ../../scss/scss/_fonts.scss */
.icon-instagram:before {
  content: "w";
}

/* line 112, ../../scss/scss/_fonts.scss */
.icon-spotify:before {
  content: "A";
}

/* line 116, ../../scss/scss/_fonts.scss */
.icon-spotify-sign:before {
  content: "B";
}

/* line 120, ../../scss/scss/_fonts.scss */
.icon-tumblr:before {
  content: "F";
}

/* line 124, ../../scss/scss/_fonts.scss */
.icon-tumblr-sign:before {
  content: "G";
}

/* line 128, ../../scss/scss/_fonts.scss */
.icon-twitter:before {
  content: "H";
}

/* line 132, ../../scss/scss/_fonts.scss */
.icon-twitter-sign:before {
  content: "I";
}

/* line 136, ../../scss/scss/_fonts.scss */
.icon-vevo:before {
  content: "J";
}

/* line 140, ../../scss/scss/_fonts.scss */
.icon-vevo-sign:before {
  content: "K";
}

/* line 144, ../../scss/scss/_fonts.scss */
.icon-vimeo:before {
  content: "L";
}

/* line 148, ../../scss/scss/_fonts.scss */
.icon-vimeo-sign:before {
  content: "M";
}

/* line 152, ../../scss/scss/_fonts.scss */
.icon-wordpress-sign:before {
  content: "N";
}

/* line 156, ../../scss/scss/_fonts.scss */
.icon-wordpress:before {
  content: "O";
}

/* line 160, ../../scss/scss/_fonts.scss */
.icon-yelp:before {
  content: "C";
}

/* line 164, ../../scss/scss/_fonts.scss */
.icon-yelp-sign:before {
  content: "D";
}

/* line 168, ../../scss/scss/_fonts.scss */
.icon-youtube:before {
  content: "E";
}

/* line 172, ../../scss/scss/_fonts.scss */
.icon-youtube-sign:before {
  content: "P";
}

/* line 176, ../../scss/scss/_fonts.scss */
.icon-github:before {
  content: "m";
}

/* line 180, ../../scss/scss/_fonts.scss */
.icon-github-sign:before {
  content: "z";
}

/* line 184, ../../scss/scss/_fonts.scss */
.icon-pinterest:before {
  content: "n";
}

/* line 188, ../../scss/scss/_fonts.scss */
.icon-pinterest-sign:before {
  content: "o";
}

/* line 192, ../../scss/scss/_fonts.scss */
.icon-googleplus:before {
  content: "x";
}

/* line 196, ../../scss/scss/_fonts.scss */
.icon-googleplus-sign:before {
  content: "y";
}

/* line 200, ../../scss/scss/_fonts.scss */
.icon-quora:before {
  content: "Q";
}

/* line 204, ../../scss/scss/_fonts.scss */
.icon-quora-sign:before {
  content: "R";
}

/* line 208, ../../scss/scss/_fonts.scss */
.icon-reddit:before {
  content: "S";
}

/* line 212, ../../scss/scss/_fonts.scss */
.icon-reddit-sign:before {
  content: "T";
}

/* line 216, ../../scss/scss/_fonts.scss */
.icon-soundcloud:before {
  content: "U";
}

/* line 220, ../../scss/scss/_fonts.scss */
.icon-soundcloud-sign:before {
  content: "V";
}

/* line 224, ../../scss/scss/_fonts.scss */
.icon-yahoo:before {
  content: "W";
}

/* line 228, ../../scss/scss/_fonts.scss */
.icon-yahoo-sign:before {
  content: "X";
}

/* line 232, ../../scss/scss/_fonts.scss */
.icon-behance:before {
  content: "0";
}

/* line 236, ../../scss/scss/_fonts.scss */
.icon-behance-sign:before {
  content: "1";
}

/* line 240, ../../scss/scss/_fonts.scss */
.icon-disqus:before {
  content: "2";
}

/* line 244, ../../scss/scss/_fonts.scss */
.icon-disqus-sign:before {
  content: "3";
}

/* line 248, ../../scss/scss/_fonts.scss */
.icon-goodreads:before {
  content: "Y";
}

/* line 252, ../../scss/scss/_fonts.scss */
.icon-goodreads-sign:before {
  content: "Z";
}

/* line 256, ../../scss/scss/_fonts.scss */
.icon-techendo:before {
  content: "4";
}

/* line 260, ../../scss/scss/_fonts.scss */
.icon-techendo-sign:before {
  content: "5";
}

/* more sprites.less reset */
/* line 2, ../../scss/scss/_bootstrap-icon.scss */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}

/* line 17, ../../scss/scss/_bootstrap-icon.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes sure icons active on rollover in links */
/* line 24, ../../scss/scss/_bootstrap-icon.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
}

/* makes the font 33% larger relative to the icon container */
/* line 29, ../../scss/scss/_bootstrap-icon.scss */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}

/* line 33, ../../scss/scss/_bootstrap-icon.scss */
.btn [class^="icon-"],
.nav [class^="icon-"],
.btn [class*=" icon-"],
.nav [class*=" icon-"] {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #fff;
  margin-right: 2px;
  margin-top: -2px;
  /* keeps button heights with and without icons the same */
}

/* line 44, ../../scss/scss/_bootstrap-icon.scss */
.btn [class^="icon-"].icon-large,
.nav [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}

/* line 50, ../../scss/scss/_bootstrap-icon.scss */
.btn [class^="icon-"].icon-spin,
.nav [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}

/* line 56, ../../scss/scss/_bootstrap-icon.scss */
.nav-tabs [class^="icon-"],
.nav-pills [class^="icon-"],
.nav-tabs [class*=" icon-"],
.nav-pills [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
}

/* line 63, ../../scss/scss/_bootstrap-icon.scss */
.nav-tabs [class^="icon-"],
.nav-pills [class^="icon-"],
.nav-tabs [class*=" icon-"],
.nav-pills [class*=" icon-"],
.nav-tabs [class^="icon-"].icon-large,
.nav-pills [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"].icon-large,
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}

/* line 73, ../../scss/scss/_bootstrap-icon.scss */
li [class^="icon-"],
.nav li [class^="icon-"],
li [class*=" icon-"],
.nav li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

/* line 81, ../../scss/scss/_bootstrap-icon.scss */
li [class^="icon-"].icon-large,
.nav li [class^="icon-"].icon-large,
li [class*=" icon-"].icon-large,
.nav li [class*=" icon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}

/* line 89, ../../scss/scss/_bootstrap-icon.scss */
ul.icons {
  list-style-type: none;
  text-indent: -0.75em;
}

/* line 93, ../../scss/scss/_bootstrap-icon.scss */
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .75em;
}

/* line 97, ../../scss/scss/_bootstrap-icon.scss */
.icon-muted {
  color: #eeeeee;
}

/* line 100, ../../scss/scss/_bootstrap-icon.scss */
.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 107, ../../scss/scss/_bootstrap-icon.scss */
.icon-2x {
  font-size: 2em;
}

/* line 110, ../../scss/scss/_bootstrap-icon.scss */
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 116, ../../scss/scss/_bootstrap-icon.scss */
.icon-3x {
  font-size: 3em;
}

/* line 119, ../../scss/scss/_bootstrap-icon.scss */
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 125, ../../scss/scss/_bootstrap-icon.scss */
.icon-4x {
  font-size: 4em;
}

/* line 128, ../../scss/scss/_bootstrap-icon.scss */
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 134, ../../scss/scss/_bootstrap-icon.scss */
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}

/* line 138, ../../scss/scss/_bootstrap-icon.scss */
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}

/* line 142, ../../scss/scss/_bootstrap-icon.scss */
.btn [class^="icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}

/* line 148, ../../scss/scss/_bootstrap-icon.scss */
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}

/* line 152, ../../scss/scss/_bootstrap-icon.scss */
.btn.btn-small [class^="icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}

/* line 158, ../../scss/scss/_bootstrap-icon.scss */
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}

/* line 162, ../../scss/scss/_bootstrap-icon.scss */
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}

/* line 168, ../../scss/scss/_bootstrap-icon.scss */
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}

/* line 172, ../../scss/scss/_bootstrap-icon.scss */
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}

/* line 180, ../../scss/scss/_bootstrap-icon.scss */
.btn-facebook {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #355089;
  background-image: -moz-linear-gradient(top, #3b5998, #2d4373);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#2d4373));
  background-image: -webkit-linear-gradient(top, #3b5998, #2d4373);
  background-image: -o-linear-gradient(top, #3b5998, #2d4373);
  background-image: linear-gradient(to bottom, #3b5998, #2d4373);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3B5998', endColorstr='#FF2D4373', GradientType=0);
  border-color: #2d4373 #2d4373 #17233c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2d4373;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-color: #1e2e4f;
}
/* line 37, ../../scss/scss/_mixins.scss */
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .btn-facebook.disabled, .btn-facebook[disabled] {
  color: white;
  background-color: #2d4373;
  *background-color: #263961;
}
/* line 44, ../../scss/scss/_mixins.scss */
.btn-facebook:active, .btn-facebook.active {
  background-color: #1e2e4f \9;
}

/* line 185, ../../scss/scss/_bootstrap-icon.scss */
.btn-linkedin {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #426ba5;
  background-image: -moz-linear-gradient(top, #4875b4, #395d90);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4875b4), to(#395d90));
  background-image: -webkit-linear-gradient(top, #4875b4, #395d90);
  background-image: -o-linear-gradient(top, #4875b4, #395d90);
  background-image: linear-gradient(to bottom, #4875b4, #395d90);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4875B4', endColorstr='#FF395D90', GradientType=0);
  border-color: #395d90 #395d90 #243a59;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #395d90;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-color: #2b466b;
}
/* line 37, ../../scss/scss/_mixins.scss */
.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active, .btn-linkedin.disabled, .btn-linkedin[disabled] {
  color: white;
  background-color: #395d90;
  *background-color: #32517d;
}
/* line 44, ../../scss/scss/_mixins.scss */
.btn-linkedin:active, .btn-linkedin.active {
  background-color: #2b466b \9;
}

/* line 190, ../../scss/scss/_bootstrap-icon.scss */
.btn-twitter {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1ebff5;
  background-image: -moz-linear-gradient(top, #33ccff, #00ace6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33ccff), to(#00ace6));
  background-image: -webkit-linear-gradient(top, #33ccff, #00ace6);
  background-image: -o-linear-gradient(top, #33ccff, #00ace6);
  background-image: linear-gradient(to bottom, #33ccff, #00ace6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF33CCFF', endColorstr='#FF00ACE6', GradientType=0);
  border-color: #00ace6 #00ace6 #007399;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #00ace6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-color: #00a4db;
}
/* line 37, ../../scss/scss/_mixins.scss */
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .btn-twitter.disabled, .btn-twitter[disabled] {
  color: white;
  background-color: #00ace6;
  *background-color: #0099cc;
}
/* line 44, ../../scss/scss/_mixins.scss */
.btn-twitter:active, .btn-twitter.active {
  background-color: #0086b3 \9;
}

/* line 195, ../../scss/scss/_bootstrap-icon.scss */
.btn-github {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: black;
  background-image: -moz-linear-gradient(top, black, black);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(black));
  background-image: -webkit-linear-gradient(top, black, black);
  background-image: -o-linear-gradient(top, black, black);
  background-image: linear-gradient(to bottom, #000000, #000000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF000000', GradientType=0);
  border-color: black black black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: black;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-color: black;
}
/* line 37, ../../scss/scss/_mixins.scss */
.btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active, .btn-github.disabled, .btn-github[disabled] {
  color: white;
  background-color: black;
  *background-color: black;
}
/* line 44, ../../scss/scss/_mixins.scss */
.btn-github:active, .btn-github.active {
  background-color: black \9;
}

/* line 200, ../../scss/scss/_bootstrap-icon.scss */
.btn-google {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #c83e2d;
  background-image: -moz-linear-gradient(top, #dc4a38, #aa2d1e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc4a38), to(#aa2d1e));
  background-image: -webkit-linear-gradient(top, #dc4a38, #aa2d1e);
  background-image: -o-linear-gradient(top, #dc4a38, #aa2d1e);
  background-image: linear-gradient(to bottom, #dc4a38, #aa2d1e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDC4A38', endColorstr='#FFAA2D1E', GradientType=0);
  border-color: #aa2d1e #aa2d1e #691c12;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #aa2d1e;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-color: #a12b1c;
}
/* line 37, ../../scss/scss/_mixins.scss */
.btn-google:hover, .btn-google:focus, .btn-google:active, .btn-google.active, .btn-google.disabled, .btn-google[disabled] {
  color: white;
  background-color: #aa2d1e;
  *background-color: #94271a;
}
/* line 44, ../../scss/scss/_mixins.scss */
.btn-google:active, .btn-google.active {
  background-color: #7e2216 \9;
}

/* Social Identities */
/* line 8, ../../scss/scss/socialicious.scss */
i.icon-bebo, i.icon-bebo-sign {
  color: #ee1010;
}

/* line 11, ../../scss/scss/socialicious.scss */
i.icon-behance-sign, i.icon-behance {
  color: #005cff;
}

/* line 14, ../../scss/scss/socialicious.scss */
i.icon-bread-sign, i.icon-bread {
  color: #00a4e4;
}

/* line 17, ../../scss/scss/socialicious.scss */
i.icon-disqus-sign, i.icon-disqus {
  color: #2e9fff;
}

/* line 20, ../../scss/scss/socialicious.scss */
i.icon-dribbble-sign, i.icon-dribbble {
  color: #ea4c89;
}

/* line 23, ../../scss/scss/socialicious.scss */
i.icon-facebook-sign, i.icon-facebook {
  color: #3b5998;
}

/* line 26, ../../scss/scss/socialicious.scss */
i.icon-flickr-sign, i.icon-flickr {
  color: #ed1e83;
}

/* line 29, ../../scss/scss/socialicious.scss */
i.icon-foursquare, i.icon-foursquare-sign {
  color: #0cbadf;
}

/* line 32, ../../scss/scss/socialicious.scss */
i.icon-github-sign, i.icon-github {
  color: black;
}

/* line 35, ../../scss/scss/socialicious.scss */
i.icon-goodreads-sign, i.icon-goodreads {
  color: #5a471c;
}

/* line 38, ../../scss/scss/socialicious.scss */
i.icon-googleplus-sign, i.icon-googleplus {
  color: #303030;
}

/* line 41, ../../scss/scss/socialicious.scss */
i.icon-instagram-sign, i.icon-instagram {
  color: #3f729b;
}

/* line 44, ../../scss/scss/socialicious.scss */
i.icon-klout-sign, i.icon-klout {
  color: #e24a25;
}

/* line 47, ../../scss/scss/socialicious.scss */
i.icon-lastfm-sign, i.icon-lastfm {
  color: #a52f23;
}

/* line 50, ../../scss/scss/socialicious.scss */
i.icon-linkedin-sign, i.icon-linkedin {
  color: #4875b4;
}

/* line 53, ../../scss/scss/socialicious.scss */
i.icon-pinterest-sign, i.icon-pinterest {
  color: #cb2027;
}

/* line 56, ../../scss/scss/socialicious.scss */
i.icon-quora-sign, i.icon-quora {
  color: #a72822;
}

/* line 59, ../../scss/scss/socialicious.scss */
i.icon-reddit-sign, i.icon-reddit {
  color: #638cb1;
}

/* line 62, ../../scss/scss/socialicious.scss */
i.icon-soundcloud-sign, i.icon-soundcloud {
  color: #ef3b24;
}

/* line 65, ../../scss/scss/socialicious.scss */
i.icon-spotify-sign, i.icon-spotify {
  color: #75c044;
}

/* line 68, ../../scss/scss/socialicious.scss */
i.icon-techendo-sign, i.icon-techendo {
  color: #32363c;
}

/* line 71, ../../scss/scss/socialicious.scss */
i.icon-tumblr-sign, i.icon-tumblr {
  color: #45556b;
}

/* line 74, ../../scss/scss/socialicious.scss */
i.icon-twitter-sign, i.icon-twitter {
  color: #33ccff;
}

/* line 77, ../../scss/scss/socialicious.scss */
i.icon-vevo, i.icon-vevo-sign {
  color: #dc2726;
}

/* line 80, ../../scss/scss/socialicious.scss */
i.icon-vimeo, i.icon-vimeo-sign {
  color: #1fb7ea;
}

/* line 83, ../../scss/scss/socialicious.scss */
i.icon-wordpress, i.icon-wordpress-sign {
  color: #464342;
}

/* line 86, ../../scss/scss/socialicious.scss */
i.icon-yahoo-sign, i.icon-yahoo {
  color: #8b2c8e;
}

/* line 89, ../../scss/scss/socialicious.scss */
i.icon-yelp-sign, i.icon-yelp {
  color: #ca3c27;
}

/* line 92, ../../scss/scss/socialicious.scss */
i.icon-youtube-sign, i.icon-youtube {
  color: #eb2629;
}
