/******************************************************************
Site Name: Erin Lindsey
Author: sarah semark

Stylesheet: Box Styles

These boxes and containers are used in various places to hold content.

******************************************************************/

%box {
  position: relative;
  border: 1px solid $border-color;
  background: rgba(255,255,255,.5);  
  z-index: 1;
  padding: 1.5em;
  width: 104%;
  left: -2%;

  @media only screen and (min-width: 768px) {
    padding: 3em 3em 1.5em 3em;
    width: 100%;
    left: 0;
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
    top: .5em;
    left: .5em;
    border: 2px solid $border-color;
    background: rgba(255,255,255,.5);  
    height: calc(100% - 1em - 2px);
    width: calc(100% - 1em - 2px);

    @media only screen and (min-width: 768px) {
      top: 1em;
      left: 1em;
      height: calc(100% - 2em - 2px);
      width: calc(100% - 2em - 2px);
    }
  }
} 

.box {
  @extend %box;
}


