/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $serif;
  text-decoration: none;
  color: $brown;
  @include text-shadow(0 1px 1px rgba(255,255,255,.75));
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 10px;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);
  border: none;
  background-color: #000;
  background: url('../images/metal.png');
  @include box-shadow(0 2px 2px rgba(1,2,2,.35));
  @include box-shadow(inset 0 0 0 2px rgba(250,250,250,.5));

  &:before, &:after {
    content: '\00b7';
    display: inline;
    padding: 10px;
  }
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
  } 

  &:active {
    top: 1px; 
  } 

} 

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.button {
  @extend %btn; 
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button


input[type="submit"] {
  @extend %btn;
  height: 40px;
  padding-top: 0;
  line-height: 40px;
}
