/******************************************************************
Site Name: Erin Lindsey
Author: sarah semark

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

#sword {
    right: -100px;
}


@media (min-height: 850px) {
    .home #main-nav ul {padding-top: 20%;}
} 

@media (min-height: 1050px) {
    .home #main-nav ul {padding-top: 30%;}
} 
