/*********************
HEADER STYLES
*********************/

header[role=banner] {
    text-align: center;
    width: 100%;

    #logo {

        img {
            margin: 2em auto 1em;
            width: 616px;
            height: 159px;
        }

        h2 {
            display: block;
            position: absolute;
            bottom: 15px;
            left: 65px;
        }
    }
}


/*********************
NAVIGATION STYLES
*********************/

#main-nav {
    position: absolute;
    top: 20px;
    left: 0;
    background: none;
    box-shadow: none;
    border-bottom: none;

    ul {
        border: 0;
        padding: 70px 0 0 65px;

        li {
            display: block;
            font-size: 1.15em;

            a {
                display: block;
                text-align: center;
                background-repeat: no-repeat;
                height: 125px;
                width: 110px;
                background-size: 110px 110px;
                padding-top: 100px;
            }

            &#home-link a {background-image: url('../images/icon-fire.png');}
            &#books-link a {background-image: url('../images/icon-eye.png');}
            &#about-link a {background-image: url('../images/icon-crow.png');}
            &#news-link a {background-image: url('../images/icon-moon.png');}
        }
    }
}

.home #main-nav {
    position: relative;
    background: none;
    width: 100%;
    top: 0;

    ul {padding: 1em 7em 0px 0px}

    li {
        display: inline-block;

        a {
            height: 200px;
            width: 130px;
            background-size: 130px 130px;
            padding-top: 130px;
            margin: 0 !important;
        }
    }   
}

.home header[role=banner] #logo {padding-right: 6em;}

/*********************
PARALLAX PANEL STYLES
*********************/
html, body, #container {
    width: 100%;
    height: 100%;
}

/* main panels */
.page-panel {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
    padding: 0;
    
    &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        height: 20px;
        width: 100%;
        background: url('../images/riveted.png');
        background-size: 122px 21px;
        border-bottom: 2px solid rgba(250,250,250,.5);
        border-top: 1px solid rgba(250,250,250,.5);
        @include box-shadow(0 2px 2px rgba(1,2,2,.35));
    }
}
.inner-content {
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.inner-content .entry-content {
    padding-top: 4em;
}


/* skip text */
.skip-text {
    display: none;
}


/* down buttons */
.direction-button {
    top: auto;
    bottom: 20px;
}


/* individual page panels */
#home {
    
    .entry-content {
        position: absolute;
        bottom: 5%;
        text-align: center;
        width: 100%;
    }

    h1 {margin: 0 auto;}
    
    blockquote {
        font-size: 2em;
        margin-top: 25%;
    }
    
    .direction-button {
        display: block;
    }
}


#books {
    
    .pre-order {
        @include span(4);

        div {padding: 10px 20px;}
    }

    .synopsis {
        @include span(8); 
        @include omega;
    }
}

#about-the-author {
    
    .author-info {
        @include span(7);
    }

    .contact {
        @include span(5);
        @include omega;
    }
}

#news {
    padding-top: 0;
    padding-bottom: 0;
    height: calc(100% + 30px);
    
    .news-excerpt {
        @include span(4);
    
        &:nth-of-type(3n) {
            @include omega;
        }

        &:nth-of-type(4n) {
            @include alpha;
            clear: left;
        }
    }

}

#sword {
    display: block;
    position: fixed;
    top: -200px;
    right: -100px;
}



/*********************
POSTS & CONTENT STYLES
*********************/
#main {
    @include span(10);
    @include omega;
}
#content {
    margin-top: 300px;
}

    .hentry {
        margin-bottom: 1.5em;
    }

