/*********************
NAVIGATION STYLES
*********************/

#main-nav {
    background: url('../images/flag.png') no-repeat;
    background-size: cover;
    width: 312px;
    height: 756px;
    margin-top: -50px;

    ul {
        padding: 100px 0 0 100px;
    }
}


/*********************
PARALLAX PANEL STYLES
*********************/
html, body, #container {
    width: 100%;
    height: 100%;
}

/* main panels */
.page-panel {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
    padding: 0;
}
.inner-content {
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.inner-content .entry-content {
    padding-top: 4em;
}


/* skip text */
.skip-text {
    display: none;
}


/* down buttons */
.direction-button {
    top: auto;
    bottom: 20px;
}


/* individual page panels */
#home {
    
    .entry-content {
        position: absolute;
        bottom: 5%;
        right: 20%;
        span {
            display: block;
            text-indent: 6em;
        }
    }
    
    blockquote {
        font-size: 2em;
        margin-top: 25%;
    }
    
    .direction-button {
        display: block;
    }
}


#books {
    
    .pre-order {
        @include span(4);

        div {padding: 10px 20px;}
    }

    .synopsis {
        @include span(8); 
        @include omega;
    }
}

#about-the-author {
    
    .author-info {
        @include span(6);
    }

    .contact {
        @include span(6);
        @include omega;
    }
}

#news {
    padding-top: 0;
    padding-bottom: 0;
    height: calc(100% + 30px);
    
    .news-excerpt {
        @include span(4);
    
        &:nth-of-type(3n) {
            @include omega;
        }

        &:nth-of-type(4n) {
            @include alpha;
            clear: left;
        }
    }

}

#sword {
    display: block;
    position: fixed;
    top: -700px;
    right: -100px;
}
