/*********************
HEADER STYLES
*********************/

header[role=banner] {
    text-align: center;
    width: 100%;

    #logo {
        margin: 2em auto;

        img {
            width: 616px;
            height: 159px;
        }

        h2 {
            display: block;
            position: absolute;
            bottom: -10px;
            left: 175px;
        }
    }
}


/*********************
NAVIGATION STYLES
*********************/

#main-nav {
    position: absolute;
    top: 20px;
    left: 0;
    background: url('../images/flag.png') no-repeat;
    background-size: cover;
    width: 322px;
    height: 780.16px;
    box-shadow: none;

    ul {
        border: 0;
        padding: 70px 0 0 65px;

        li {
            display: block;
            font-size: 1.15em;

            a {
                display: block;
                text-align: center;
                background-repeat: no-repeat;
                height: 125px;
                width: 110px;
                background-size: 110px 110px;
                padding-top: 100px;
            }

            &#home-link a {background-image: url('../images/icon-fire.png');}
            &#books-link a {
                background-image: url('../images/icon-eye.png');
                margin-left: 10px;
            }
            &#about-link a {
                background-image: url('../images/icon-crow.png');
                margin-left: 20px;
            }
            &#news-link a {
                background-image: url('../images/icon-moon.png');
                margin-left: 30px;
            }

        }
    }
}


/*********************
PARALLAX PANEL STYLES
*********************/
html, body, #container {
    width: 100%;
    height: 100%;
}

/* main panels */
.page-panel {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
    padding: 0;
}
.inner-content {
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.inner-content .entry-content {
    padding-top: 4em;
}


/* skip text */
.skip-text {
    display: none;
}


/* down buttons */
.direction-button {
    top: auto;
    bottom: 20px;
}


/* individual page panels */
#home {
    
    .entry-content {
        position: absolute;
        bottom: 5%;
        right: 20%;
        span {
            display: block;
            text-indent: 6em;
        }
    }
    
    blockquote {
        font-size: 2em;
        margin-top: 25%;
    }
    
    .direction-button {
        display: block;
    }
}


#books {
    
    .pre-order {
        @include span(4);

        div {padding: 10px 20px;}
    }

    .synopsis {
        @include span(8); 
        @include omega;
    }
}

#about-the-author {
    
    .author-info {
        @include span(7);
    }

    .contact {
        @include span(5);
        @include omega;
    }
}

#news {
    padding-top: 0;
    padding-bottom: 0;
    height: calc(100% + 30px);
    
    .news-excerpt {
        @include span(4);
    
        &:nth-of-type(3n) {
            @include omega;
        }

        &:nth-of-type(4n) {
            @include alpha;
            clear: left;
        }
    }

}

#sword {
    display: block;
    position: fixed;
    top: -200px;
    right: -100px;
}



/*********************
POSTS & CONTENT STYLES
*********************/
#main {
    @include span(10);
    @include omega;
}
#content {
    margin-top: 300px;
}

    .hentry {
        margin-bottom: 1.5em;
    }

