/******************************************************************
Site Name: Erin Lindsey
Author: sarah semark

Stylesheet: Short Screens Stylesheet

This stylesheet is designed to accomodate shorter screens (under 750px), mostly 
on desktops and tablets. Mostly it's just used to re-jig the panel displays so 
all the content fits well.

******************************************************************/

.home #main-nav ul {padding-top: 5%;}

#books blockquote {display: none;}

#books .pre-order img.cover {
    max-width: 70%;
    margin-left: 15%;
}

#about-the-author .contact img {
    max-width: 60%;
    margin-left: 10%;
    margin-top: -15%;

}

//#news .news-excerpt:nth-of-type(3n), #news .news-excerpt:nth-of-type(4n) {display: none}

#news .news-excerpt h2 {display: none;}
